{% for section in sections %}
  {{ section.full_section_name }} :
  {
{% if section.align > 0 %}    . = ALIGN({{ section.align }});
{% endif %}    _start{{ section.clean_section_name }} = .;
    *({{ section.full_section_name }})
    _end{{ section.clean_section_name }} = .;
{% if section.size > 0 %}    . = MAX(., _start{{ section.clean_section_name }} + {{ section.size }});
{% endif %}{% if section.load_region %}  } > {{ section.region_name }} AT > {{ section.load_region }}
  PROVIDE (__load_start{{ section.clean_section_name }} = LOADADDR({{ section.full_section_name }}));
  PROVIDE (__load_stop{{ section.clean_section_name }} = LOADADDR({{ section.full_section_name }}) + SIZEOF({{ section.full_section_name }}));
{% else %}  } > {{ section.region_name }}
{% endif %}

{% endfor %}